.Modal {
    position: fixed;
    z-index: 500;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../../assets/Optimized-resetModal.jpg") left 0 bottom 0/cover no-repeat border-box, #241C1E;
    border: none;
    padding: 16px;
    height: 300px;
    top: 30%;
    border-radius: 20px;
    box-sizing: border-box;
}

.ShowModal {
    animation: showModal 0.3s ease-out forwards;
}

.CloseModal {
    animation: closeModal 0.3s ease-out forwards;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    50% {
        opacity: 1;
        transform: translateX(-30vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(-70vw);
    }
    100% {
        opacity: 0;
        transform: translateX(-100vw);
    }
}