.Navbar {
    display: flex;
    justify-content: flex-end;
    height: auto;
    background: linear-gradient(to right, #38ADAE, #CD295A);
    text-align: right;
}

.NavLeft {
    display: inherit;
    padding: 20px;
    color: white;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 599px) {
    .Navbar {
        display: none;
    }
}

