.Navbar {
    display: flex;
    justify-content: flex-end;
    height: auto;
    background-color: #241C1E;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.NavLeft {
    display: inherit;
    padding: 20px 0 20px 40px;
    color: #bc9643;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

@media only screen and (max-width: 599px) {
    .Navbar {
        display: none;
    }
}

