.ResetForm {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.ResetForm > p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.ResetForm button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: 0.4rem 0;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.ResetSpinner {
    position: relative;
    height: 4rem;
    margin: 0.75rem 0;
}

.ResetError {
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0.75rem 0;
    background-color: #da6c63;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.ErrorShown {
    transition: opacity 0.3s ease-in;
}

.ErrorClosed {
    animation: opacity 0.3s ease-out;
}